<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag 'idea.ico' %>
	  <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="background-img">
      <%= render 'layouts/seasonalsnow' %>
  	  <%= render 'layouts/header' %>
      <%= render 'layouts/messages' %>
      <div id="inner-body">
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
      <% if logged_in? %>
        <% info = debug(params).split("\n") %>
        <% Log.create(controller: info[2].match(/:\s*\K.*/), action: info[3].match(/:\s*\K.*/), user_id: current_user.id) %>
      <% end %>
<!--       <% if Rails.env.development? %><div id="debug-border"><%= debug(params) %></div><% end %> -->
    </div>
  </body>
</html>
